@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  color: whitesmoke;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.countdown-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 145px;
}

.big-text {
  font-size: 7rem;
}
